*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI;
}
body{
    background:#0b0f1a;
    color:#fff
}

.main-header{
  position:fixed;
  top:20px;
  left:50%;
  transform:translateX(-50%);
  width:90%;
  max-width:1200px;
  padding:14px 24px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  background:rgba(15,20,40,0.6);
  backdrop-filter:blur(12px);
  border-radius:14px;
  z-index:1000;
}

.logo{
  font-size:20px;
  font-weight:600;
  color:#fff;
}

.logo span{
  color:#4da3ff;
}

.nav-links{
  display:flex;
  gap:28px;
}

.nav-links a{
  color:#aaa;
  text-decoration:none;
  font-size:15px;
  position:relative;
}

.nav-links a::after{
  content:'';
  position:absolute;
  width:0;
  height:2px;
  left:0;
  bottom:-6px;
  background:#4da3ff;
  transition:0.3s;
}

.nav-links a:hover{
  color:#fff;
}

.nav-links a:hover::after{
  width:100%;
}

/* RIGHT ACTIONS */
.header-actions{
  display:flex;
  align-items:center;
  gap:14px;
}

.resume-btn{
  padding:8px 16px;
  background:#1e4fd8;
  border-radius:8px;
  color:#fff;
  text-decoration:none;
  font-size:14px;
}

.settings{
  color:#aaa;
  cursor:pointer;
  font-size:18px;
}

.menu{
  display:none;
  font-size:22px;
  cursor:pointer;
}

/* MOBILE */
@media(max-width:900px){
  .nav-links{
    position:absolute;
    top:70px;
    left:0;
    width:100%;
    background:#0b0f1a;
    flex-direction:column;
    align-items:center;
    gap:20px;
    padding:20px;
    display:none;
  }

  .nav-links.active{
    display:flex;
  }

  .menu{
    display:block;
  }
}

/* hero section */

.hero-section{
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:120px 80px;
  background:
    radial-gradient(circle at top,#11162a,#050814),
    repeating-linear-gradient(
      0deg,
      rgba(255,255,255,0.03),
      rgba(255,255,255,0.03) 1px,
      transparent 1px,
      transparent 40px
    );
}

/* LEFT */
.hero-left{
  width:50%;
}

.badge{
  display:inline-block;
  padding:6px 14px;
  background:#121a3a;
  color:#4da3ff;
  border-radius:20px;
  font-size:13px;
  margin-bottom:20px;
}

.hero-left h1{
  font-size:44px;
  line-height:1.2;
}

.hero-left h1 span{
  color:#4da3ff;
}

.cursor{
  animation:blink 1s infinite;
}

@keyframes blink{
  0%,100%{opacity:1;}
  50%{opacity:0;}
}

.hero-left p{
  margin:20px 0 30px;
  color:#aaa;
  max-width:520px;
  line-height:1.6;
}

.hero-buttons{
  display:flex;
  gap:15px;
}

.btn{
  padding:12px 26px;
  border-radius:10px;
  text-decoration:none;
  font-size:14px;
}

.primary{
  background:#1e5bff;
  color:#fff;
}

.secondary{
  border:1px solid #4da3ff;
  color:#4da3ff;
}

/* RIGHT */
.hero-right{
  width:45%;
  display:flex;
  justify-content:center;
}

.orbit{
  position:relative;
  width:360px;
  height:360px;
  border:2px dashed #4da3ff55;
  border-radius:50%;
  
}

@keyframes rotate{
  from{transform:rotate(0deg);}
  to{transform:rotate(360deg);}
}

.profile{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:180px;
  border-radius:50%;
  z-index:5;
}

/* ICONS */
.icon{
  position:absolute;
  font-size:22px;
}

.react{ top:-10px; left:50%; }
.html{ right:-10px; top:50%; }
.js{ bottom:-10px; left:50%; }
.node{ left:-10px; top:50%; }
.ai{ top:15%; right:15%; }

/* RESPONSIVE */
@media(max-width:900px){
  .hero-section{
    flex-direction:column;
    padding:120px 30px;
    text-align:center;
  }

  .hero-left,.hero-right{
    width:100%;
  }

  .hero-right{
    margin-top:60px;
  }
}

/* about section */

.about-section{
  padding:80px 60px;
}

.about-section h2{
  text-align:center;
  font-size:32px;
  margin-bottom:60px;
}

.about-section span{
  color:#4da3ff;
}

.about-container{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:50px;
}

/* TIMELINE */
.timeline{
  position:relative;
  padding-left:30px;
}

.timeline::before{
  content:'';
  position:absolute;
  left:8px;
  top:0;
  width:2px;
  height:100%;
  background:#4da3ff55;
}

.timeline-item{
  position:relative;
  margin-bottom:30px;
}



.timeline-card{
  background:#12182b;
  padding:15px 20px;
  border-radius:10px;
  transition:0.3s;
}

.timeline-card:hover{
  transform:translateX(8px);
  box-shadow:0 0 15px #4da3ff44;
}

.edu-title{
  margin:30px 0 15px;
  color:#4da3ff;
}

/* SUMMARY */
.summary h3{
  margin-bottom:15px;
}

.summary p{
  color:#aaa;
  line-height:1.6;
}

.summary-cards{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:15px;
  margin-top:25px;
}

.summary-card{
  background:#12182b;
  padding:18px;
  border-radius:10px;
  transition:0.3s;
}

.summary-card:hover{
  transform:translateY(-6px);
  box-shadow:0 0 15px #4da3ff44;
}

/* RESPONSIVE */
@media(max-width:900px){
  .about-container{
    grid-template-columns:1fr;
  }
}

/* tech stack   */

.tech-section{
  padding:80px 60px;
  text-align:center;
}

.tech-section h2{
  font-size:32px;
  margin-bottom:8px;
}

.tech-section span{
  color:#4da3ff;
}

.tech-sub{
  color:#888;
  margin-bottom:50px;
}

/* GRID */
.tech-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
}

/* CARD */
.tech-card{
  background:#12182b;
  padding:25px;
  border-radius:14px;
  text-align:left;
  transition:0.4s;
  border:1px solid transparent;
}

.tech-card:hover{
  border-color:#4da3ff55;
  box-shadow:0 0 25px #4da3ff22;
  transform:translateY(-8px);
}

.tech-card h3{
  margin-bottom:15px;
  color:#4da3ff;
}

/* ICON GRID */
.tech-icons{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(90px,1fr));
  gap:12px;
}

.icon-box{
  background:#0b1022;
  padding:12px 8px;
  border-radius:10px;
  text-align:center;
  font-size:13px;
  color:#ddd;
  transition:0.3s;
}

.icon-box:hover{
  background:#1e5bff;
  color:#fff;
  transform:scale(1.05);
}

/* RESPONSIVE */
@media(max-width:768px){
  .tech-section{
    padding:70px 30px;
  }
}

/* latest work section  */

.work-section{
  padding:80px 60px;
  text-align:center;
}

.work-section h2{
  font-size:32px;
  margin-bottom:8px;
}

.work-section span{
  color:#4da3ff;
}

.work-sub{
  color:#888;
  margin-bottom:50px;
}


/* IMAGE FIX */
.work-img img{
  width:100%;
  height:180px;
  object-fit:cover;
}

/* MODAL BACKGROUND */
.project-modal{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.75);
  display:flex;
  align-items:center;
  justify-content:center;
  opacity:0;
  visibility:hidden;
  transition:0.3s;
  z-index:1000;
}

/* ACTIVE MODAL */
.project-modal.active{
  opacity:1;
  visibility:visible;
}

/* MODAL BOX */
.modal-box{
  background:#12182b;
  padding:25px;
  border-radius:16px;
  max-width:520px;
  width:90%;
  text-align:left;
  position:relative;
  animation:popup 0.3s ease;
}

/* MODAL IMAGE */
.modal-box img{
  width:100%;
  border-radius:12px;
  margin-bottom:15px;
}

/* CLOSE BUTTON */
.close-btn{
  position:absolute;
  top:10px;
  right:15px;
  font-size:28px;
  cursor:pointer;
  color:#fff;
}

/* ANIMATION */
@keyframes popup{
  from{
    transform:scale(0.8);
    opacity:0;
  }
  to{
    transform:scale(1);
    opacity:1;
  }
}

/* GRID */
.work-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:25px;
}

/* CARD */
.work-card{
  background:#12182b;
  border-radius:16px;
  overflow:hidden;
  transition:0.4s;
  border:1px solid transparent;
}

.work-card:hover{
  transform:translateY(-10px);
  border-color:#4da3ff55;
  box-shadow:0 0 30px #4da3ff22;
}

/* IMAGE PLACEHOLDER */
.work-img{
  height:180px;
  background:linear-gradient(135deg,#1e5bff,#4da3ff);
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:22px;
  font-weight:600;
  background-position: center;
  background-size: cover;
}

/* STUDENT OF THE YEAR */
.student-container{
  display:flex;
  align-items:center;
  gap:40px;
  max-width:1000px;
  margin:auto;
  flex-wrap:wrap;
}

.student-img{
  flex:1;
  min-width:250px;
}

.student-img img{
  width:50%;
  border-radius:16px;
  box-shadow:0 0 30px #4da3ff22;
}

.student-content{
  flex:1;
  text-align:left;
}

.student-content h1{
  font-size:32px;
  margin-bottom:15px;
}

.student-content p{
  color:#aaa;
  line-height:1.6;
}

/* RESPONSIVE */
@media(max-width:768px){
  .student-container{
    flex-direction:column;
    text-align:center;
  }

  .student-content{
    text-align:center;
  }
}


/* CONTENT */
.work-content{
  padding:20px;
  text-align:left;
}

.work-content h3{
  margin-bottom:8px;
}

.work-content p{
  color:#aaa;
  font-size:14px;
  line-height:1.5;
}

/* TAGS */
.work-tags{
  margin-top:15px;
  display:flex;
  gap:10px;
  flex-wrap:wrap;
}

.work-tags span{
  background:#0b1022;
  padding:6px 12px;
  border-radius:20px;
  font-size:12px;
  color:#4da3ff;
}

/* RESPONSIVE */
@media(max-width:768px){
  .work-section{
    padding:70px 30px;
  }
} */

/* contact form  */
.contact-section{
  padding:80px 60px;
  text-align:center;
}

.contact-section h2{
  font-size:32px;
  margin-bottom:15px;
  margin-left: 40px;
}

.contact-section span{
  color:#4da3ff;
}

.contact-sub{
  color:#888;
  margin-bottom:60px;
  margin-left: 40px;
}

/* CONTAINER */
.contact-container{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:50px;
  align-items:center;
}

/* LEFT INFO */
.contact-info{
  text-align:left;
  margin-left: 40px;
}

.contact-info h3{
  margin-bottom:15px;
}

.contact-info p{
  color:#aaa;
  line-height:1.6;
}

.availability{
  display:flex;
  align-items:center;
  gap:10px;
  margin:25px 0;
}

.availability .dot{
  width:10px;
  height:10px;
  background:#4da3ff;
  border-radius:50%;
  box-shadow:0 0 10px #4da3ff;
}

.contact-details p{
  color:#ddd;
}

/* FORM CARD */
.contact-form{
  background:#12182b;
  padding:30px;
  border-radius:16px;
  border:1px solid #4da3ff33;
  margin-bottom: 20px;
  margin-right: 20px;
}

.contact-form input,
.contact-form textarea{
  width:100%;
  background:#0b1022;
  border:1px solid transparent;
  padding:14px;
  border-radius:10px;
  color:#fff;
  margin-bottom:25px;
  outline:none;
  transition:0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus{
  border-color:#4da3ff;
}

.contact-form button{
  width:100%;
  padding:14px;
  background:#1e5bff;
  border:none;
  border-radius:10px;
  color:#fff;
  font-size:15px;
  cursor:pointer;
  transition:0.3s;
}

.contact-form button:hover{
  background:#4da3ff;
}

/* RESPONSIVE */
@media(max-width:900px){
  .contact-container{
    grid-template-columns:1fr;
  }

  .contact-info{
    text-align:center;
  }

  .availability{
    justify-content:center;
  }
}
/* footer section  */
.footer{
  background:#0b0f1a;
  padding:70px 60px 30px;
  border-top:1px solid #4da3ff22;
}

.footer-container{
  display:grid;
  grid-template-columns:2fr 1fr 1fr;
  gap:40px;
}

/* BRAND */
.footer-brand h3{
  font-size:20px;
  margin-bottom:12px;
}

.footer-brand p{
  color:#aaa;
  line-height:1.6;
  max-width:420px;
}

/* LINKS */
.footer-links h4,
.footer-social h4{
  margin-bottom:15px;
}

.footer-links a{
  display:block;
  color:#aaa;
  text-decoration:none;
  margin-bottom:10px;
  transition:0.3s;
}

.footer-links a:hover{
  color:#4da3ff;
}

/* SOCIAL */
.social-icons{
  display:flex;
  gap:14px;
}

.social-icons a{
  width:38px;
  height:38px;
  background:#12182b;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:50%;
  text-decoration:none;
  font-size:18px;
  transition:0.3s;
}

.social-icons a:hover{
  background:#4da3ff;
  color:#fff;
}

/* BOTTOM */
.footer-bottom{
  margin-top:40px;
  padding-top:20px;
  text-align:center;
  border-top:1px solid #4da3ff22;
  color:#888;
  font-size:14px;
}

/* RESPONSIVE */
@media(max-width:900px){
  .footer-container{
    grid-template-columns:1fr;
    text-align:center;
  }

  .social-icons{
    justify-content:center;
  }
}

